.admin-container {
    display: flex;
    height: 100vh;
    background-color: white;
}

.sidebar {
    width: 220px;
    background-color: #e9e5df;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar-image {
    display: block;
    margin: -50px -6px;
    width: 107%;
    height: auto;

}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none
}

.sidebar-item {
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.sidebar-item:hover {
    background-color: #555;
}

.sidebar-item.active {
    background-color: #444;
}

.icon {
    margin-right: 10px;
    vertical-align: middle;
}

.logout {
    margin-top: auto;
    padding: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout:hover {
    background-color: #555;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.content-box {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}