.admin-video video {
    width: 100%;
    margin-top: -0.7px;
}


/* Admin Query Page */
.admin-query-container {
    font-family: Arial, sans-serif;
    margin-left: -15px;
}

.admin-query-heading {
    text-align: center;
    color: brown;
    margin-bottom: 10px;
    margin-top: 40px;
    font-size: 30px;
    TEXT-TRANSFORM: UPPERCASE;
}

.admin-query-paragraph {
    text-align: center;
    font-size: 17px;
    color: black;
    width: 1400px;
    margin: auto;
    display: block;
    line-height: 1.8;
    margin-bottom: 30px;
}

.admin-query-error-message {
    color: red;
    text-align: center;
    font-weight: bold;
}

.admin-query-success-message {
    color: green;
    text-align: center;
    font-weight: bold;
}

.query-table {
    width: 95%;
    border-collapse: collapse;
    background: white;
    overflow: hidden;
    margin: auto;
    margin-bottom: 50px;
    margin-left: 45px;
}

.query-table th,
.query-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.query-table th {
    background-color: darkolivegreen;
    color: white;
    font-weight: bold;
    TEXT-TRANSFORM: UPPERCASE;
    letter-spacing: 0.5px;
    font-size: 14.5px;
}

.query-table td {
    font-size: 15px;
}

.query-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.query-table tr:hover {
    background-color: #ddd;
}

.admin-query-edit-button {
    padding: 5px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    TEXT-TRANSFORM: UPPERCASE;
    transition: 0.3s ease-in-out;
}

.admin-query-delete-button {
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    margin-top: 4px;
    font-size: 13px;
    font-weight: bold;
    TEXT-TRANSFORM: UPPERCASE;
    transition: 0.3s ease-in-out;
}

.admin-query-modal {
    width: 450px;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.admin-query-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.admin-query-model-heading {
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
    color: brown;
    TEXT-TRANSFORM: UPPERCASE;
    font-family: Arial, sans-serif;
}

.admin-edit-query-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.admin-query-form-group {
    display: flex;
    flex-direction: column;
}

input,
textarea,
select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    outline: none;
}

textarea {
    resize: vertical;
    min-height: 80px;
}

.admin-query-submit {
    background-color: #600000;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: none;
    font-size: 13px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    TEXT-TRANSFORM: UPPERCASE;
}

.admin-query-submit-button {
    background-color: gray;
    color: white;
    font-weight: bold;
    padding: 10px;
    border: none;
    font-size: 13px;
    cursor: pointer;
    font-family: Arial, sans-serif;
    TEXT-TRANSFORM: UPPERCASE;
}

.admin-query-submit:hover,
.admin-query-submit-button:hover {
    background-color: black;
}






















/* Admin Feedback Page */
.feedback-container {
    font-family: Arial, sans-serif;
}

.admin-feedback-form-head {
    text-align: center;
    color: brown;
    margin-bottom: 10px;
    margin-top: 40px;
    font-size: 30px;
    TEXT-TRANSFORM: UPPERCASE;

}

.admin-feedback-form-paragraph {
    text-align: center;
    font-size: 17px;
    color: black;
    width: 1400px;
    margin: auto;
    display: block;
    line-height: 1.8;
    margin-bottom: 30px;
}


.admin-feedback-table {
    width: 95%;
    background: white;
    overflow: hidden;
    margin: auto;
    margin-bottom: 50px;
}

.table {
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;

}

.table th {
    background-color: darkolivegreen;
    color: white;
    font-weight: bold;
    TEXT-TRANSFORM: UPPERCASE;
    letter-spacing: 0.5px;
    font-size: 14.5px;
}

.table td {
    font-size: 15px;
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}


.ReactStars {
    display: flex;
    justify-content: center;
}

/* Buttons */
.admin-feedback-btn-primary {
    padding: 5px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    TEXT-TRANSFORM: UPPERCASE;
    transition: 0.3s ease-in-out;

}

.admin-feedback-btn-danger {
    padding: 5px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    TEXT-TRANSFORM: UPPERCASE;
    transition: 0.3s ease-in-out;
    margin-top: 4px;
}


.admin-feedback-modal {
    width: 450px;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.admin-feedback-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.admin-feedback-model-heading {
    text-align: center;
    font-size: 22px;
    margin-top: 10px;
    color: brown;
    TEXT-TRANSFORM: UPPERCASE;
    font-family: Arial, sans-serif;
}

.admin-edit-feedback-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.admin-feedback-form-group {
    display: flex;
    flex-direction: column;
}

input,
textarea,
select {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    outline: none;
}

textarea {
    resize: vertical;
    min-height: 80px;
}
















/* Admin Personalize Page */
/* Admin Panel Layout */
.admin-dashboard {
    font-family: Arial, sans-serif;
}

.admin-personalized-heading {
    text-align: center;
    color: brown;
    margin-bottom: 10px;
    margin-top: 40px;
    font-size: 30px;
    TEXT-TRANSFORM: UPPERCASE;
}

.admin-query-paragraph {
    text-align: center;
    font-size: 17px;
    color: black;
    width: 1400px;
    margin: auto;
    display: block;
    line-height: 1.8;
    margin-bottom: 30px;
}


.customer-table {
    width: 95%;
    border-collapse: collapse;
    background: white;
    overflow: hidden;
    margin: auto;
    margin-bottom: 50px;
    margin-left: 37px;
}

.customer-table th,
.customer-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.customer-table th {
    background-color: darkolivegreen;
    color: white;
    font-weight: bold;
    TEXT-TRANSFORM: UPPERCASE;
    letter-spacing: 0.5px;
    font-size: 14.5px;
}

.customer-table td {
    font-size: 15px;
}

.customer-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.customer-table tr:hover {
    background-color: #ddd;
}

.see-more-btn {
    background-color: #600000;
    color: white;
    width: 90px;
    padding: 7px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: bold;
    TEXT-TRANSFORM: UPPERCASE;
    transition: 0.3s ease-in-out;
}

.see-more-btn:hover {
    background-color: black;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.modal-content {
    width: 600px;
    height: 600px;
    background: white;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    overflow-y: auto;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
}

.close-button {
    background: rgb(143, 2, 2);
    color: white;
    border: none;
    padding: 3px 8px;
    cursor: pointer;
    float: right;
    font-size: 22px;
    transition: background 0.3s ease;
}

.close-button:hover {
    background: black;
}

.csp-details {
    text-align: center;
    font-size: 22px;
    margin-top: 60px;
    color: brown;
    TEXT-TRANSFORM: UPPERCASE;
    font-family: Arial, sans-serif;
}

.name-email-details {
    font-family: Arial, sans-serif;
    TEXT-TRANSFORM: UPPERCASE;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.customer-details h5 {
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 60px;
    color: rgb(74, 103, 136);
    text-align: center;
    TEXT-TRANSFORM: UPPERCASE;
    font-family: Arial, sans-serif;
}

.prediction-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 14px;
    margin-left: 8px;
}

.prediction-table td {
    padding: 10px;
    border: 1px solid #ddd;
    vertical-align: top;
}

.prediction-table td strong {
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.prediction-table td:last-child {
    width: 80%;
    text-align: left;
    font-size: 13.8px;
    line-height: 1.8;
    font-family: Arial, sans-serif;
    border-right: 2px solid #ccc;
}

.prediction-table tr:last-child td {
    text-align: center;
    padding-top: 15px;
    border: none;
}

.prediction-table img {
    width: 500px;
    height: auto;
}




/*Admin Gallery Page*/
.admin-gallery-container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.admin-gallery-header {
    text-align: center;
    color: brown;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 30px;
    TEXT-TRANSFORM: UPPERCASE;
}

.admin-gallery-paragraph {
    text-align: center;
    font-size: 17px;
    color: black;
    width: 1400px;
    margin: auto;
    display: block;
    line-height: 1.8;
    margin-bottom: 30px;
}

.admin-gallery-add-btn {
    TEXT-TRANSFORM: UPPERCASE;
    background-color: darkgreen;
    color: #fff;
    padding: 12px 12px;
    border: none;
    font-size: 13px;
    cursor: pointer;
    margin: 10px 45px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.admin-gallery-add-btn:hover {
    background-color: #546486;
    transform: translateY(-2px);
}

/* Gallery List */
.admin-gallery-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    justify-content: center;
}

.admin-gallery-item {
    background: white;
    padding: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.admin-gallery-item h4 {
    font-size: 18px;
    color: #546486;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.admin-gallery-item p {
    text-transform: uppercase;
    font-size: 13px;
    color: #555;
    line-height: 1.8;
    margin-bottom: 10px;
}

.admin-gallery-item button {
    text-transform: uppercase;
    background-color: rgb(118, 18, 18);
    color: white;
    border: none;
    padding: 7px 15px;
    font-size: 13px;
    cursor: pointer;
    margin: 5px;
    font-weight: bold;
    transition: background 0.3s ease;
}

.admin-gallery-item button:hover {
    background-color: #880966;
}

.admin-gallery-item button:nth-child(3) {
    background-color: #be2222;
}

.admin-gallery-item button:nth-child(3):hover {
    background-color: #991818;
}

.admin-gallery-modal-overlay {
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.admin-gallery-modal {
    background: white;
    padding: 20px;
    width: 500px;
    margin: auto;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.admin-gallery-modal input,
.admin-gallery-modal textarea {
    width: 95%;
    text-transform: uppercase;
    margin-bottom: 10px;
    line-height: 1.4;
    border: 1px solid #ddd;
    font-size: 13px;
    color: black;
    font-weight: bold;
}


.admin-gallery-modal button {
    background-color: #546486;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    border: none;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-top: 10px;
}

.admin-gallery-modal button:hover {
    background-color: #555;
}













/*Admin Review Page*/
.admin-article-container {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    margin-bottom: 100px;
}

.admin-article-form-head {
    text-align: center;
    color: brown;
    margin-bottom: 10px;
    margin-top: 40px;
    font-size: 30px;
    TEXT-TRANSFORM: UPPERCASE;
}

.admin-article-form-paragraph {
    text-align: center;
    font-size: 17px;
    color: black;
    width: 1400px;
    margin: auto;
    display: block;
    line-height: 1.8;
    margin-bottom: 30px;
}

.add-article-btn {
    TEXT-TRANSFORM: UPPERCASE;
    background-color: rgb(74, 103, 136);
    font-weight: bold;
    color: #fff;
    padding: 12px 12px;
    border: none;
    font-size: 13px;
    cursor: pointer;
    margin: 0px 60px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.add-article-btn:hover {
    background-color: #546486;
    transform: translateY(-2px);
}

.admin-article-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.admin-article-modal-content {
    background: #fff;
    padding: 20px;
    width: 450px;
    max-width: 90%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.admin-article-close {
    position: absolute;
    padding: 0px 6px;
    top: 0px;
    right: 0px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    background-color: rgb(192, 9, 9);
}

.admin-article-close:hover {
    color: black;
}

.admin-article-modal-content h2 {
    margin-bottom: 15px;
    font-size: 23px;
    text-align: center;
    color: #546486;
    TEXT-TRANSFORM: UPPERCASE;
}

.admin-article-modal-content input,
.admin-article-modal-content textarea {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    font-size: 12px;
    font-weight: bold;
    TEXT-TRANSFORM: UPPERCASE;
}

.admin-article-modal-content textarea {
    resize: vertical;
    height: 100px;
    font-family: Arial, sans-serif;
}

.admin-article-modal-content button {
    width: 100%;
    background: brown;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    TEXT-TRANSFORM: UPPERCASE;
    font-weight: bold;
}

.admin-article-modal-content button:hover {
    background: rgb(204, 71, 5);
}

.admin-article-preview-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: block;
    margin: 10px auto;
    border: 1px solid #ddd;
}


.article-table-container {
    margin: 20px auto;
    width: 92%;
    background-color: #fff;
    overflow-x: auto;
}

.article-table {
    width: 100%;
    border-collapse: collapse;
}

.article-table th,
.article-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.article-table th {
    background-color: darkolivegreen;
    color: white;
    font-weight: bold;
    TEXT-TRANSFORM: UPPERCASE;
    letter-spacing: 0.5px;
    font-size: 14.5px;
}

.article-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.article-table td {
    font-size: 16px;
    color: black;
}

.preview-img {
    width: 80px;
    height: 50px;
    object-fit: cover;
    border: 1px solid #ccc;
}


.admin-article-btn {
    padding: 5px 8px;
    cursor: pointer;
    border: none;
    TEXT-TRANSFORM: UPPERCASE;
    font-weight: bold;
    font-size: 13px;
    color: white;
    margin-right: 5px;
}

.edit-btn {
    background-color: #007BFF;
}

.edit-btn:hover {
    background-color: #555;
}

.delete-btn {
    background-color: #dc3545;
}

.delete-btn:hover {
    background-color: #555;
}






/*Admin Consultation Page*/
.admin-consultation-container {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

.admin-consultation-form-head {
    text-align: center;
    color: brown;
    margin-bottom: 10px;
    margin-top: 40px;
    font-size: 30px;
    TEXT-TRANSFORM: UPPERCASE;
}

.admin-consultation-form-paragraph {
    text-align: center;
    font-size: 17px;
    color: black;
    width: 1400px;
    margin: auto;
    display: block;
    line-height: 1.8;
    margin-bottom: 30px;
}

.admin-consultation-table11 {
    margin: 0 auto;
    width: 92%;
    background-color: #fff;
    overflow-x: auto;
}


.admin-consultation-table {
    width: 100%;
    border-collapse: collapse;
}

.admin-consultation-table th,
.admin-consultation-table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.admin-consultation-table th {
    background-color: darkolivegreen;
    color: white;
    font-weight: bold;
    TEXT-TRANSFORM: UPPERCASE;
    letter-spacing: 0.5px;
    font-size: 14.5px;
}

.admin-consultation-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.admin-consultation-table td button {
    margin-right: 10px;
    padding: 8px 12px;
    background-color: #007BFF;
    color: white;
    font-size: 13px;
    font-weight: bold;
    TEXT-TRANSFORM: UPPERCASE;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.admin-consultation-table td button:hover {
    background-color: #333;
}

.admin-consultation-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    
}

.admin-consultation-modal-content {
    background-color: white;
    padding: 20px;
    width: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.admin-consultation-modal-heading {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
    TEXT-TRANSFORM: UPPERCASE;
    text-align: center;
    color: brown;
    margin-top: 5px;
}

.admin-consultation-modal label {
    display: block;
    TEXT-TRANSFORM: UPPERCASE;
    font-weight: bold;
    font-size: 12px;
    margin: 10px 0 5px;
    color: #555;
}

.admin-consultation-modal input,
.admin-consultation-modal select,
.admin-consultation-modal textarea {
    width: 95%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.admin-consultation-modal textarea {
    height: 100px;
    resize: vertical;
}

.admin-consultation-modal button {
    font-weight: bold;
    TEXT-TRANSFORM: UPPERCASE;
    padding: 10px 15px;
    background-color: #600000;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.admin-consultation-modal button:hover {
    background-color: #555;
}

.admin-consultation-modal button:last-child {
    background-color: #dc3545;
}

.admin-consultation-modal button:last-child:hover {
    background-color: #555;
}


#consultationStatus {
    font-weight: bold;
    TEXT-TRANSFORM: UPPERCASE;
    width: 100%;
    padding: 12px;
    font-size: 12px;
    background-color: #fff;
    color: black;
    margin-bottom: 15px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

#consultationStatus:focus {
    border-color: brown;
    outline: none;
}

#consultationStatus option {
    font-size: 1em;
    padding: 10px;
}
