.community-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
}

.community-image img {
    max-width: 100%;
}

.brand-ambassador-section {
    background-color: #A1D4C9;
    padding: 40px;
    width: 1433px;
    text-align: center;
    margin-top: 90px;
}

.brand-ambassador-section h2 {
    font-size: 35px;
    color: brown;
    margin-top: 0px;
}

.brand-ambassador-section p {
    font-size: 17.5px;
    color: black;
    margin-bottom: 8px;
}

.brand-ambassador-section p1 {
    font-size: 17.5px;
    color: black;
    line-height: 1.8;
}

.brand-ambassador-section h3 {
    font-size: 23px;
    color: rgb(72, 79, 216);
    margin-top: 30px;
    TEXT-TRANSFORM: UPPERCASE;
}

/* List Styling */
.brand-ambassador-section ul {
    list-style: none; /* Removes default bullets */
    padding: 0;
}

/* Custom Bullet Points */
.brand-ambassador-section ul li {
    position: relative;
    padding-left: 30px;
    font-size: 17px;
    color: #333;
    margin-bottom: 10px;
    font-weight: 500;
}

.brand-ambassador-section ul li::before {
    content: "•";
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.black-border {
    border: 1px solid black;
    margin: 40px -40px;
}

.brand-content {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-top: 20px;
}

/* Left (Responsibilities) & Right (Requirements) */
.brand-details, .brand-requirements {
    width: 35%;
}

/* Lists */
.brand-details ul, .brand-requirements ul {
    list-style-type: none;
    padding: 0;
}

.brand-details li, .brand-requirements li {
    font-size: 16px;
    color: black;
    margin-bottom: 8px;
    line-height: 1.8;
}



.apply-btn {
    padding: 12px 40px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    TEXT-TRANSFORM: UPPERCASE;
    transition: 0.3s;
    margin-left: 100px;
}

.learn-more-btn{
    padding: 12px 40px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    TEXT-TRANSFORM: UPPERCASE;
    transition: 0.3s;
    margin-top: 10px;
}

.apply-btn {
    background-color: #E6F4D3;
    color: #121212;
}

.apply-btn:hover {
    background-color: #D0E9B9;
}

.learn-more-btn {
    background-color: #C7EBE6;
    color: #121212;
}

.learn-more-btn:hover {
    background-color: #B5E2DA;
}

/* Responsive */
@media (max-width: 768px) {
    .brand-content {
        flex-direction: column;
        align-items: center;
    }
    .brand-details, .brand-requirements {
        width: 100%;
        text-align: center;
    }
}
