.consultation-image {
    text-align: center;
}

.consultation-image img {
    max-width: 100%;
}

.consultation-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 90px;
}

.consultation-text {
    flex: 1;
    max-width: 50%;
}

.consultation-text h1 {
    margin-bottom: 10px;
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: brown;
    text-align: justify;
    margin-left: 115px;
    margin-top: -60px;
}

.consultation-text p {
    font-size: 17px;
    line-height: 1.8;
    color: black;
    text-align: justify;
    font-family: Arial, sans-serif;
    width: 640px;
    margin-left: 115px;
}

.consultation-doctor-image {
    flex: 1;
}

.consultation-doctor-image img {
    width: 80%;
    object-fit: cover;
    margin-left: 70px;
}

.consultation-button {
    padding: 10px 6px;
    font-size: 16px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-left: 115px;
    text-align: center;
    transition: background-color 0.3s ease;
}

.consultation-button:hover {
    background-color: #555;
}

.skin-experts-section h2 {
    margin-bottom: -50px;
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: #d89c99;
    text-align: center;
    margin-left: 115px;
    margin-top: 100px;
}

.skin-expert-image {
    text-align: center;
    margin: 70px;
}

.skin-expert-image img {
    max-width: 93%;
}







.how-consultation-helps {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 70px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.consultation-centered-heading2 {
    text-align: center;
    font-size: 30px;
    font-family: Arial, sans-serif;
    color: #d89c99;
    margin-top: 50px;
    margin-bottom: 5px;
}

.consultation-centered-paragraph{
    font-size: 17px;
    line-height: 1.8;
    color: black;
    width: 1200px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.consultation-helps-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: flex-start;
    margin-top: -10px;
}

.consultation-helps {
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 20px;
    flex: 1;
    height: 340px;
    gap: -20px;
    margin: 30px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.consultation-helps img.consultation-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.consultation-helps h3 {
    font-size: 21px;
    margin-bottom: 10px;
    font-family: Arial, sans-serif;
    color: #555;
    text-align: center;

}

.consultation-helps p {
    font-size: 16px;
    line-height: 1.8;
    color: black;
    text-align: center;
    font-family: Arial, sans-serif;
}